option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "UlasKelas.settings"
    POSTGRES_DB: ""
    POSTGRES_USER: ""
    POSTGRES_PASSWORD: ""
    POSTGRES_HOST: ""
    SENTRY_DSN: ""
  aws:elasticbeanstalk:container:python:
    WSGIPath: "UlasKelas.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/ping"
    MatcherHTTPCode: "200-499"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"

commands:
  01_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql11
  02_postgres_install:
      command: sudo yum install -y postgresql-devel