option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "UlasKelas.settings"
    POSTGRES_DB: ""
    POSTGRES_USER: ""
    POSTGRES_PASSWORD: ""
    POSTGRES_HOST: ""
    SENTRY_DSN: ""
  aws:elasticbeanstalk:container:python:
    WSGIPath: "UlasKelas.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/ping"
    MatcherHTTPCode: "200-499"
  aws:elbv2:listener:default:
    Protocol: HTTP
    SSLCertificateArns: null
    SSLPolicy: null
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:246292348374:certificate/bba0e1f4-ade4-4e5f-be97-ec97aad86128
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS

commands:
  01_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql11
  02_postgres_install:
      command: sudo yum install -y postgresql-devel
