option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "UlasKelas.settings"
    POSTGRES_DB: ""
    POSTGRES_USER: ""
    POSTGRES_PASSWORD: ""
    POSTGRES_HOST: ""
    SENTRY_DSN: ""
  aws:elasticbeanstalk:container:python:
    WSGIPath: "UlasKelas.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/ping"
    MatcherHTTPCode: "200-499"

commands:
  01_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql11
  02_postgres_install:
      command: sudo yum install -y postgresql-devel

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate --noinput"
    leader_only: true
